<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    {% block projection_block %}
    {% endblock %}
    {% block card_block %}
    {% endblock %}
    {% block register_block %}
    {% endblock %}
    {% block login_block %}
    {% endblock %}
    {% block insert_user %}
    {% endblock %}
    {% block logout_block %}
    {% endblock %}
    {% block sold_projection_block %}
    {% endblock %}
    {% block user_by_card_block %}
    {% endblock %}
    {% block update_projection_block %}
    {% endblock %}
    {% block confirm_delete_block %}
    {% endblock %}
    {% block add_projection_block %}
    {% endblock %}
</body>
</html>